/** 頁尾 **/
.footer .wrapper {
  padding: 25px 0;
  color: #4b4b4b;
}

.footer .wrapper div {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto 10px auto;
  padding: 0 1rem;
  text-align: center;
  box-sizing: border-box;
}

.footer .wrapper div a {
  display: inline-block;
  position: relative;
  max-width: 100%;
  padding: 4px 24px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.2s;
}

.footer .wrapper div a:hover {
  text-decoration: underline;
}

.footer .wrapper div a:last-child {
  border: none;
}

.copyRight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 20px;
  text-align: left;
}

/** RWD **/
@media screen and (max-width: 768px) {
  .footer .wrapper {
    padding: 10px 0;
    text-align: center;
  }

  .footer .wrapper div a {
    padding: 0 0.625rem;
    font-size: 13px;
    line-height: 1.768;
  }

  .footer span {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
