.levelIcon {
  height: 15px;
  width: auto;
  min-width: 15px;
  margin-right: 0.3rem;
  background-repeat: no-repeat;
  display: flex;
  background-position: center;
}

.lv-1 {
  background-image: url("../../public/images/level/1.png");
}

.lv-2 {
  background-image: url("../../public/images/level/2.png");
}

.lv-3 {
  background-image: url("../../public/images/level/3.png");
}

.lv-4 {
  background-image: url("../../public/images/level/4.png");
}

.lv-5 {
  background-image: url("../../public/images/level/5.png");
}

.lv-6 {
  background-image: url("../../public/images/level/6.png");
}

.lv-7 {
  background-image: url("../../public/images/level/7.png");
}

.lv-8 {
  background-image: url("../../public/images/level/8.png");
}

.lv-9 {
  background-image: url("../../public/images/level/9.png");
}

.lv-10 {
  background-image: url("../../public/images/level/10.png");
}

.lv-11 {
  background-image: url("../../public/images/level/11.png");
}

.lv-12 {
  background-image: url("../../public/images/level/12.png");
}

.lv-13 {
  background-image: url("../../public/images/level/13.png");
}

.lv-14 {
  background-image: url("../../public/images/level/14.png");
}

.lv-15 {
  background-image: url("../../public/images/level/15.png");
}

.lv-16 {
  background-image: url("../../public/images/level/16.png");
}

.lv-17 {
  background-image: url("../../public/images/level/17.png");
}

.lv-18 {
  background-image: url("../../public/images/level/18.png");
}

.lv-19 {
  background-image: url("../../public/images/level/19.png");
}

.lv-20 {
  background-image: url("../../public/images/level/20.png");
}

.lv-21 {
  background-image: url("../../public/images/level/21.png");
}

.lv-22 {
  background-image: url("../../public/images/level/22.png");
}

.lv-23 {
  background-image: url("../../public/images/level/23.png");
}

.lv-24 {
  background-image: url("../../public/images/level/24.png");
}

.lv-25 {
  background-image: url("../../public/images/level/25.png");
}

.lv-26 {
  background-image: url("../../public/images/level/26.png");
}

.lv-27 {
  background-image: url("../../public/images/level/27.png");
}

.lv-28 {
  background-image: url("../../public/images/level/28.png");
}

.lv-29 {
  background-image: url("../../public/images/level/29.png");
}

.lv-30 {
  background-image: url("../../public/images/level/30.png");
}

.lv-31 {
  background-image: url("../../public/images/level/31.png");
}

.lv-32 {
  background-image: url("../../public/images/level/32.png");
}

.lv-33 {
  background-image: url("../../public/images/level/33.png");
}

.lv-34 {
  background-image: url("../../public/images/level/34.png");
}

.lv-35 {
  background-image: url("../../public/images/level/35.png");
}

.lv-36 {
  background-image: url("../../public/images/level/36.png");
}

.lv-37 {
  background-image: url("../../public/images/level/37.png");
}

.lv-38 {
  background-image: url("../../public/images/level/38.png");
}

.lv-39 {
  background-image: url("../../public/images/level/39.png");
}

.lv-40 {
  background-image: url("../../public/images/level/40.png");
}

.lv-41 {
  background-image: url("../../public/images/level/41.png");
}

.lv-42 {
  background-image: url("../../public/images/level/42.png");
}

.lv-43 {
  background-image: url("../../public/images/level/43.png");
}

.lv-44 {
  background-image: url("../../public/images/level/44.png");
}

.lv-45 {
  background-image: url("../../public/images/level/45.png");
}

.lv-46 {
  background-image: url("../../public/images/level/46.png");
}

.lv-47 {
  background-image: url("../../public/images/level/47.png");
}

.lv-48 {
  background-image: url("../../public/images/level/48.png");
}

.lv-49 {
  background-image: url("../../public/images/level/49.png");
}

.lv-50 {
  background-image: url("../../public/images/level/50.png");
}

.lv-51 {
  background-image: url("../../public/images/level/51.png");
}

.lv-52 {
  background-image: url("../../public/images/level/52.png");
}

.lv-53 {
  background-image: url("../../public/images/level/53.png");
}

.lv-54 {
  background-image: url("../../public/images/level/54.png");
}

.lv-55 {
  background-image: url("../../public/images/level/55.png");
}