.main,
.wrapper,
.main p,
.main h1,
.main h2 {
  color: #ffffff !important;
}

.main {
  background: #358bff url(../public/images/agreement_bg.png) center top no-repeat;
  background-size: 100% 100%;
  color: #fff;
}

.wrapper {
  background: unset !important;
}

.main .wrapper {
  min-height: 68dvh;
}

.main .wrapper div {
  padding: 15px;
}

.main p {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: start;
}

.main p a,
.main ul a {
  display: unset;
  height: 0;
  width: 0;
  line-height: 0;
  background: unset;
  border-radius: unset;
}

.main h4 {
  font-size: 14px;
  color: #73a4d5;
  padding: 8px 0;
}

.main p {
  font-size: 13px;
  color: #555;
  line-height: 1.6em;
  padding: 6px 0;
}

.main p strong {
  color: #333;
}

.main a {
  color: #4591dd;
  text-decoration: underline;
}

.main a:hover {
  color: #2e90f3;
}

/** RWD **/
@media screen and (max-width: 768px) {
  .main p {
    display: unset;
  }
}
