.wrapper {
  background: unset !important;
}

.main {
  background: #358bff url(../public/images/agreement_bg.png) center top
    no-repeat !important;
  background-size: 100% 100% !important;
}

.main .wrapper {
  position: relative;
  z-index: 2;
}

.main .wrapper .content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 25px;
  padding: 5px;
  margin-top: 24px;
}

.main p {
  justify-content: flex-start;
  align-items: center;
  width: auto;
}

.main p a,
.main ul a {
  display: unset;
  height: 0;
  width: 0;
  line-height: 0;
  background: unset;
  border-radius: unset;
}

.main p {
  font-size: 13px;
  color: #555;
  line-height: 1.6em;
  padding: 6px 0;
}

.main p strong {
  color: #333;
}

.main a {
  color: #73a4d5;
  text-decoration: underline;
}

.main a:hover {
  color: #03559e;
}

.userInfo {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
}

.contactCard {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 20px;
  min-width: 21rem;
  width: calc(32% - 12.5px);
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease;
}

.contactCard:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.contactCard h3 strong {
  color: #e0e0e0;
  font-size: 1.1em;
  margin-bottom: 15px;
  display: block;
}

.userInfo p {
  color: #ffffff !important;
  font-size: 1.2em !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1.4 !important;
  display: flex;
  align-items: center;
}

.developerTitle {
  background-color: rgba(115, 164, 213, 0.7);
  color: #ffffff;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: normal;
  margin-right: 8px;
  display: inline-block;
  min-width: 6em;
  text-align: center;
}

.title主開發 {
  background-color: rgba(216, 63, 63, 0.8);
}
.title後端開發 {
  background-color: rgba(63, 136, 216, 0.8);
}
.title前端開發 {
  background-color: rgba(136, 63, 216, 0.8);
}
.title伺服器架設 {
  background-color: rgb(77 173 147 / 80%);
}
.title技術指導 {
  background-color: rgba(216, 166, 63, 0.8);
}

.developerTitle::before,
.developerTitle::after {
  content: none;
}

.githubIconLink {
  display: inline-flex;
  align-items: center;
  height: 20px !important;
  width: 20px !important;
}

.githubIconLink svg {
  color: #bdbdbd;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.githubIconLink:hover svg {
  color: #ffffff;
}

/** RWD **/
@media screen and (max-width: 768px) {
  .contactCard {
    width: 100%;
  }

  .content {
    padding: 5px;
    height: 70dvh !important;
  }
}

.contactNameGroup {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.4;
}

.iconGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.discordIconLink {
  display: inline-flex;
  align-items: center;
  height: 20px !important;
  width: 20px !important;
}

.discordIconLink svg {
  color: #bdbdbd;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.discordIconLink:hover svg {
  color: #7289da;
}
