a,
b,
body,
em,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
img table,
li,
ol,
p,
strong,
td,
th,
tr,
ul {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100dvh;
}

li {
  list-style: none;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #2c3c4c;
  font-family: "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
  box-shadow: transparent;
}


::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #393939;
}