.main {
  display: flex !important;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex !important;
    flex-direction: column;
  }

  .main p {
    padding: 0;
  }
}
